@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.95);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #c79a66;
    --background-color: #ffe6c7;
    --dark-color: #151515;
}

body {
    font-family: 'Merriweather', serif;
    font-size: smaller;
    padding-top: 100px; /* espacio para el header fijo */
}

.box-1 {
    font-family: 'Merriweather', serif;
    font-size: smaller;
}

h3, .Titulo, .site-title, .links h4, .Lema-txt {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

/* ======= BANNER ======= */
.banner {
    background-image: linear-gradient(60deg, #0f0f0f, #00000020), url('images/imagenes libreria/banner.jpg');
    height: 45rem;
    background-size: cover;
    background-position: center;
}

.content-banner {
    max-width: 90rem;
    margin: 0 auto;
    padding: 25rem 0;
}

.content-banner p {
    color: var(--primary-color);
    font-size: 1.2rem;
    margin-bottom: 1rem;
    font-weight: 500;
    padding-left: 10px;
}

.content-banner h2 {
    color: #fff;
    font-size: 3.5rem;
    font-weight: 500;
    line-height: 1.2;
    padding-left: 10px;
}

.content-banner a {
    margin-top: 2rem;
    text-decoration: none;
    color: #fff;
    background-color: var(--primary-color);
    display: inline-block;
    padding: 1rem 3rem;
    text-transform: uppercase;
    border-radius: 3rem;
}

/* ======= FEATURES ======= */
.main-content {
    background-color: var(--background-color);
}

.container-features {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
    padding: 3rem 0;
    max-width: 1700px;
    margin: 0 auto;
}

.card-feature {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    background-color: #fff;
    border-radius: 1rem;
    padding: 2rem 0;
}

.card-feature i {
    font-size: 2.7rem;
    color: var(--primary-color);
}

.feature-content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.feature-content span {
    font-weight: 700;
    font-size: 1.2rem;
    color: var(--dark-color);
}

.feature-content p {
    color: #777;
    font-weight: 500;
}

/* ======= TEXTOS Y ENCABEZADOS ======= */
.Titulo, .Lema-txt {
    text-align: center;
    font-size: 2rem;
}

.site-title {
    font-size: 1.8rem;
    color: #000;
}

.header-txt, .Producto {
    text-align: justify;
    font-size: 20px;
    padding: 0 160px;
}

.Titulo-producto, .titulo-item {
    text-align: center;
    font-size: 1.5rem;
}

.descri {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.Imagen-Libreria {
    text-align: center;
}

.Imagen-Libreria img {
    border: 5px solid rgb(255, 115, 0);
    border-radius: 20px;
}

.team {
    text-align: right;
    font-size: 10px;
}

/* ======= HEADER Y NAVEGACIÓN ======= */
.main-header {
    background-color: #ecb77c;
    padding: 0px 0;
    border-bottom: 1px solid #ccc;

    /* Estilos para fijar el header */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    height: 100px;
    width: auto;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    display: block;
}

.main-nav .nav-links {
    justify-content: center;
    padding-left: 0;
}

.main-nav .nav-links li {
    display: inline-block;
}

.main-nav .nav-links a {
    text-decoration: none;
    font-weight: 500;
}

.btn-login, .btn-pagar, .Nav1 {
    background-color: #000;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 0.9rem;
    font-weight: bold;
    border: none;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    transition: all 0.3s ease;
}

.btn-login:hover, .btn-pagar:hover, .Nav1:hover {
    background-color: rgb(97, 79, 81);
    color: moccasin;
    padding: 12px 25px;
    transition-duration: 1000ms;
}

/* ======= PRODUCTOS ======= */
.box-container-1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 20px;
    padding: 20px;
    justify-items: center;
}

.box-1 {
    background-color: #fff;
    border: 3px solid #000;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: background-color 1s;
}

.box-1:hover {
    background-color: #ffb347;
}

.box-1 img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.precio-item {
    font-weight: bold;
    font-size: 20px;
    color: #007b00;
}

/* ======= BLOGS ======= */
.blogs {
    padding: 5rem 2rem;
    background-color: var(--background-color);
}

.heading-1 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 3rem;
    color: var(--dark-color);
}

.container-blogs {
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    gap: 2.5rem;
    max-width: 1600px;
    margin: 0 auto;
}

.card-blog {
    background-color: #f3eacc;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease;
}

.card-blog:hover {
    transform: translateY(-5px);
}

.container-img {
    position: relative;
    overflow: hidden;
}

.container-img img {
    width: 100%;
    display: block;
    transition: transform 0.3s ease;
}

.container-img:hover img {
    transform: scale(1.05);
}

.button-group-blog {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.button-group-blog span {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 0.5rem;
    border-radius: 50%;
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: background 0.3s;
}

.content-blog {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex-grow: 1;
}

.content-blog h3 {
    font-size: 1.8rem;
    color: var(--dark-color);
}

.content-blog span {
    font-size: 1.2rem;
    color: gray;
}

.content-blog p {
    font-size: 1.3rem;
    color: #555;
    flex-grow: 1;
}

/* ======= FOOTER ======= */
.footer {
    background-color: #c79a66;
}

.container-footer {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding: 3rem;
}

.menu-footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr) 30rem;
    gap: 1rem;
    justify-items: center;
}

.title-footer {
    font-weight: 600;
    font-size: 1.6rem;
    text-transform: uppercase;
}

.contact-info, .information {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.contact-info ul, .information ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact-info ul p, .information ul li {
    list-style: none;
    color: #000000;
    font-size: 1.4rem;
    font-weight: 300;
}

.information ul li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 300;
}

.information ul li a:hover {
    color: var(--dark-color);
}

.social-icons {
    display: flex;
    gap: 1.5rem;
}

.social-icons a {
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.social-icons a i {
    color: #fcfcfc;
    font-size: 2rem;
}

.facebook {
    background-color: #3b5998;
}

.WhatsApp {
    background-color: #007b00;
}

.copyright {
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
    border-top: 2.5px solid #0c0c0c;
}

.copyright p {
    font-weight: 400;
    font-size: 1.2rem;
}

.copyright img {
    height: 2rem;
}

/* ======= CARRITO DE COMPRAS ======= */
.boton-item {
    background-color: #c79a66;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.boton-item:hover {
    background-color: #b3834e;
}

#carrito-list {
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: 250px;
    overflow-y: auto;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    scroll-behavior: smooth;
}

.carrito-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #e0e0e0;
    gap: 10px;
    font-size: 1rem;
}

.img-carrito {
    width: 50px;
    height: 50px;
    object-fit: contain;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.carrito-item-detalles {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.carrito-item-detalles span {
    font-weight: 600;
    color: #333;
}

.carrito-item-cantidad {
    width: 50px;
    padding: 4px;
    border-radius: 4px;
    border: 1px solid #bbb;
    text-align: center;
}

.carrito-total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1.5rem 0;
    padding: 0.8rem 1.2rem;
    background-color: #fff5e1;
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #333;
    box-shadow: 0 0 8px rgba(0,0,0,0.05);
}

.btn-eliminar {
    background-color: crimson;
    color: white;
    border: none;
    padding: 5px 8px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
}

.botones-carrito {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.btn-vaciar {
    background-color: #e74c3c;
    color: white;
    padding: 10px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

.btn-vaciar:hover {
    background-color: #c0392b;
}

.btn-carrito {
    position: relative;
    display: inline-block;
    background-color: transparent;
    border: none;
    padding: 5px;
}

.btn-carrito img {
    vertical-align: middle;
    width: 30px;
    height: auto;
}

.contador-carrito {
    position: absolute;
    top: -8px;
    right: -8px;
    background-color: red;
    color: white;
    font-size: 12px;
    font-weight: bold;
    padding: 2px 6px;
    border-radius: 50%;
    display: none;
    z-index: 10;
}

/* ======= MODAL ======= */
.modal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
}

.modal-content {
    background-color: var(--background-color);
    margin: 10% auto;
    padding: 2rem;
    border-radius: 15px;
    width: 90%;
    max-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    position: relative;
    font-family: 'Merriweather', serif;
    animation: fadeIn 0.3s ease-in-out;
    text-align: center;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.modal-content h2 {
    font-family: 'Montserrat', sans-serif;
    color: var(--dark-color);
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
}

.modal-content input[type="text"],
.modal-content input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 1rem;
    border: 1px solid #999;
    border-radius: 10px;
    font-size: 1rem;
    font-family: 'Merriweather', serif;
}

.modal-content button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.modal-content button[type="submit"]:hover {
    background-color: #b3834e;
}

.modal-content label {
    display: block;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    color: var(--dark-color);
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.close, .close-btn {
    position: absolute;
    top: 12px;
    right: 16px;
    font-size: 24px;
    color: #444;
    font-weight: bold;
    cursor: pointer;
}

.close:hover, .close-btn:hover {
    color: #000;
}

/* Modales - Delivery,Terminos,Politicas */
.modal-info {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}

.modal-content-info {
    background-color: white;
    margin: 10% auto;
    padding: 30px;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
    position: relative;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    animation: fadeIn 0.3s ease-in-out;

    max-height: 70vh;
    overflow-y: auto;
    scroll-behavior: smooth;
}

.modal-content-info h2 {
    margin-top: 0;
    font-size: 24px;
    color: #2c3e50;
}

.modal-content-info p {
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    text-align: justify;
}

.close-info {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 26px;
    font-weight: bold;
    color: #999;
    cursor: pointer;
}

.close-info:hover {
    color: #e74c3c;
}

.modal-content .btn-modal {
    width: 100%;
    padding: 10px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px; /* Para separar del botón "Entrar" */
}

.modal-content .btn-modal:hover {
    background-color: #b3834e;
}